* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
body {
    background: #2e364a;
}
header {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 25px;
    margin-bottom: 25px;
    color: #fff;
}
h1 {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 25px;
    color: #fff;
}

.div-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.btn  {
  align-items: center;
  background-color: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.85);
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}

.btn:hover,
.btn:focus {
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  color: rgba(0, 0, 0, 0.65);
}

.btn:hover {
  transform: translateY(-1px);
}

.btn:active {
  background-color: #F0F0F1;
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  color: rgba(0, 0, 0, 0.65);
  transform: translateY(0);
}

.btn a {
    text-decoration: none;
    color: black;
}

/* .timeline {
    position: relative;
    /* max-width: 1200px;
    margin: 50px auto;
} */
.reveal .timeline {
    position: relative;
    max-width: 1200px;
    margin-top: -8px;
    padding: 0 24px;
    height: 0;
    opacity: 0;
    overflow: hidden;
    transition: .5s;
}
.reveal.active .timeline {
    padding: 24px;
    height: fit-content;
    opacity: 1;
}
.container {
    padding: 10px 50px;
    position: relative;
    width: 50%;
    /* background: rgba(0, 0, 0, 0.3); */
    animation: movedown 1s linear forwards;
    opacity: 0;
}
@keyframes movedown {
    0%{
        opacity: 1;
        transform: translateY(-30px);
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}

.container:nth-child(1) {
    animation-delay: 0s;
}
.container:nth-child(2) {
    animation-delay: 1s;
}
.container:nth-child(3) {
    animation-delay: 2s;
}
.container:nth-child(4) {
    animation-delay: 3s;
}
.container:nth-child(5) {
    animation-delay: 4s;
}
.container:nth-child(6) {
    animation-delay: 4s;
}
/* and so on... (if you want it) */

.text-box{
    padding: 20px 30px;
    background: #fff;
    position: relative;
    border-radius: 6px;
    font-size: 15px;
}
.left-container {
    left: 0;
}
.right-container {
    left: 50%;
}
.container img {
    position: absolute;
    width: 40px;
    border-radius: 50%;
    right: -20px;
    top: 32px;
    z-index: 10;
}
.right-container img {
    left: -20px;
}
.timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    height: 100%;
    background: #fff;
    top: 0;
    left: 50%;
    margin-left: -3px;
    z-index: -1;
    animation: moveline 4s linear forwards; /** seconds = number of items on timeline**/
}
@keyframes moveline {
    0%{
        height: 0;
    }
    100%{
        height: 100%;
    }
}
.text-box h2 {
    font-weight: 600;
}
.text-box small {
    display: inline-block;
    margin-bottom: 15px;
}
.text-box a {
    color: #2e364a;
}
.text-box a:hover {
    color: #000000;
}
.left-container-arrow{
    height: 0;
    width: 0;
    position: absolute;
    top: 28px;
    z-index: 1;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 15px solid #fff;
    right: -15px;
}
.right-container-arrow{
    height: 0;
    width: 0;
    position: absolute;
    top: 28px;
    z-index: 1;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-right: 15px solid #fff;
    left: -15px;
}

@media screen and (max-width: 600px) {
    .timeline{
        margin: 50px auto;
    }
    .timeline::after{
        left: 31px;
    }
    .container{
        width: 100%;
        padding-left: 80px;
        padding-right: 25px;
    }
    .text-box{
        font-size: 13px;
    }
    .text-box small{
        margin-bottom: 10px;
    }
    .right-container {
        left: 0;
    }
    .left-container img, .right-container img {
        left: 10px;
    }
    .left-container-arrow, .right-container-arrow {
        border-right: 15px solid #fff;
        border-left: 0;
        left: -15px;
    }
}





/* progress bar*/
.container2 {
    width: 370px;
    margin: 3.8rem auto;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    background: #fff;
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
}
.progress-container {
    margin: auto;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 1px solid #CFCFCF;
}
.h3 {
    margin: 10px;
    padding-bottom: 10px;
    text-transform: uppercase;
}
.progress .mask,
.progress .fill {
    width: 150px;
    height: 150px;
    position: absolute;
    border-radius: 50%;
}
.progress .mask {
    clip: rect(0px, 150px, 150px, 75px);
}
.inside-circle {
    width: 122px;
    height: 122px;
    font-size: 2rem;
    position: absolute;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 14px 0 0 14px;
}
.mask .fill{
    clip: rect(0px, 75px, 150px, 0px);
    background: #903BDF;
}
.mask .full,
.progress .fill {
    animation: fill ease-in-out 3s;
    transform: rotate(150deg);
}
@keyframes fill {
    0%{
        transform: rotate(0deg);
    }
}
.inside-circle span {
    font-size: 1.2rem;
    margin-left: 0.2rem;
}
.line {
    margin-top: 2rem;
    border: 1px solid rgb(216, 216, 216);
}
.progress-report{
    display: flex;
    justify-content: center;
    align-items: center;
}
.progress-report h3 {
    font-size: 1.5rem;
    padding: 1rem;
}
.progress-report span {
    font-size: 1rem;
    color: rgb(99, 98, 98);
}
.progress-report .line {
    height: 5rem;
}
.contact{
    display: flex;
    padding: 10px;
    border-radius: 10px;
    background: rgb(224, 215, 231);
}
.contact img {
    width: 82px;
    height: 75px;
    border-radius: 50%;
    padding: 2px;
    border: 1px solid rgb(159, 149, 167);
}
.contact .text {
    text-align: left;
    padding: 10px 20px;
}
.contact .text h3 {
    text-transform: capitalize;
}
